@media screen and (min-width: 550px) {
    .album-info{
      display: flex;
    }
   .album-pic-page{
     align-content: center;
   }
   .album-data{
     margin-top: 20px;
   }
  //  .album-size{
  //    width: auto;
  //  }
}


 