@import"media-enquires";

*{
    box-sizing:border-box;
}
p{
    text-align: inherit;
}

h2{
    text-align: center;
   
}

.index-title-artist{
      
    text-transform: uppercase;
}

.index-title-album-name{
   font-size:smaller;
}
.centre{
    background-color: red ;
    padding:.5em;
    text-align: right;
    display:inline-block;
    text-decoration: none !important;
    margin: auto 0 ;
    border-radius: 8px;
    color: blue;
    

}
.entry-footer{
 display: none !important;
}
a{
    text-decoration: none;
    text-align: center;
}

.album-size{
    width: 100%;
    padding: 1rem;
}
.album-pic-page{
    display: block;
margin:0 auto ;
padding: 0;
max-width: 50%;
}
.album{
    padding: .1rem;
}:first-child{
    padding-top: 0;
    margin-top: 0;
}

// adjusting the score size on Index page
.score{
    background: #E2E2E2;
    font-size: larger;
    
}
.ave{
    text-align: center;
}


.this-month{
    background: red;
}

.artist{
    // display: block ;
    padding: 0;
    margin: 0 !important;
    text-align: center;
}

.album-info{
    padding: 1rem 0 1rem 1rem;
   
}
.album-data{
    margin: 0 auto;
    padding-left: 1rem;
    padding: 1.2rem;
    // background: darkcyan;
    border-radius: 4px;
   
}

.flex{
    // display: flex;
    margin: 0 !important;
}

// adjusting the paddinng and marging on the site main div on the index page. Text boxes are now closer
.site-main > *{
    margin: 0 !important;
    padding: 0;
}

.date{
    font-size: 1.2rem;
    color: #a9a5a5;
    padding-bottom: 2rem;
}

.p-l{
    padding-left: 1rem;
}

.spotify-link{
    width: 100px;
    margin: 0 auto;
}
.r{
    color: red;
}
// no bottom padding on header
.site-header.has-title-and-tagline.has-menu{
padding-bottom: 3px;

}