@import"media-enquires";
*{
    box-sizing:border-box;
}
p{
    text-align: inherit;
}

h2{
    text-align: center;
   
}

.index-title-artist{
      
    text-transform: uppercase;
}

.index-title-album-name{
   font-size:smaller;
}
.centre{
    background-color: red ;
    padding:1em;
    text-align: right;
    display:inline-block;
    text-decoration: none !important;
    margin: auto 0 ;
    border-radius: 8px;
    color: blue;
    

}
.entry-footer{
 display: none !important;
}
a{
    text-decoration: none;
    text-align: center;
}

.album-index-page{
    display: block;
margin:0 auto ;
padding: 0;
}
.album{
    padding: .1rem;
}:first-child{
    padding-top: 0;
    margin-top: 0;
}

// adjusting the score size on Index page
.ave-score{
    background: #E2E2E2;
    font-size: larger;
}

.this-month{
    background: red;
}

.artist{
    display: block ;
    padding: 0;
    margin: 0 !important;
    text-align: center;
}

.album-info{
    // background: slategrey;
    border: 3px solid red;
    display: flex; 
    padding-left: 1rem ;
}
.album-data{
    background: blue;
    margin: 0 auto;
}

.flex{
    display: flex;
    margin: 0 !important;
}

// adjusting the paddinng and marging on the site main div on the index page. Text boxes are now closer
.site-main > *{
    margin: 0 !important;
    padding: 0;
}
